---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ContestantPrepPage from '@/components/ContestantPrepPage';
---

<BaseLayout
  title="Contestant Prep | Garam Masala Dating"
  description=""
  noindex={true}
  hideNav={true}
  hideFooter={true}
>
  <main id="main-content">
    <ContestantPrepPage client:load />
  </main>
</BaseLayout>
