---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContestantPrepPage from "@/components/ContestantPrepPage";
---

<BaseLayout
  title="Contestant Prep"
  description=""
  noindex={true}
  hideSpiceList={true}
>
  <main id="main-content">
    <ContestantPrepPage client:idle />
  </main>
</BaseLayout>
